[submodule "cll/src"]
	path = cll/src
	url = https://github.com/int19h/cll
[submodule "grammars/jbogenturfahi/engine"]
	path = grammars/jbogenturfahi/engine
	url = https://github.com/alanpost/genturfahi
