[submodule "cll/src"]
	path = cll/src
	url = https://github.com/int19h/cll
[submodule "grammars/camxes-js/src"]
	path = grammars/camxes-js/src
	url = https://github.com/mhagiwara/camxes.js
[submodule "grammars/ilmentufa/original"]
	path = grammars/ilmentufa/original
	url = https://github.com/Ntsekees/ilmentufa
[submodule "grammars/jbogenturfahi/engine"]
	path = grammars/jbogenturfahi/engine
	url = https://github.com/alanpost/genturfahi
[submodule "grammars/jbogenturfahi/src"]
	path = grammars/jbogenturfahi/src
	url = https://github.com/alanpost/jbogenturfahi
[submodule "grammars/official/parser/cll-parser"]
	path = grammars/official/parser/cll-parser
	url = https://github.com/lojban/cll-parser
[submodule "grammars/ports/camxes-py/src"]
	path = grammars/ports/camxes-py/src
	url = https://github.com/lojban/camxes-py
[submodule "grammars/ports/johaus/src"]
	path = grammars/ports/johaus/src
	url = https://github.com/eaburns/johaus
[submodule "grammars/ports/valfendi/src"]
	path = grammars/ports/valfendi/src
	url = https://github.com/phma/valfendi
[submodule "grammars/zantufa/src"]
	path = grammars/zantufa/src
	url = https://github.com/guskant/gerna_cipra
[submodule "grammars/zasni-gerna/haskell"]
	path = grammars/zasni-gerna/haskell
	url = https://github.com/YoshikuniJujo/zasni-gerna
