[submodule "cll/src"]
	path = cll/src
	url = https://github.com/int19h/cll
[submodule "grammars/camxes-js/src"]
	path = grammars/camxes-js/src
	url = https://github.com/mhagiwara/camxes.js
[submodule "grammars/jbogenturfahi/engine"]
	path = grammars/jbogenturfahi/engine
	url = https://github.com/alanpost/genturfahi
[submodule "grammars/jbogenturfahi/src"]
	path = grammars/jbogenturfahi/src
	url = https://github.com/alanpost/jbogenturfahi
[submodule "grammars/official/parser/cll-parser"]
	path = grammars/official/parser/cll-parser
	url = https://github.com/lojban/cll-parser
[submodule "grammars/ports/valfendi/src"]
	path = grammars/ports/valfendi/src
	url = https://github.com/phma/valfendi
