# mail/lojban-list thread 30be7cf5d912-laws,_commandments,_requirements | root 199601161815.naa06170@locke.ccil.org | 2 messages | rendered by jbomohi mail-v1

=== 1 | 1996-01-16T17:48:01Z | "Steven M. Belknap" <sbelknap@UIC.EDU> | 199601161748.taa14251@xiron.pc.helsinki.fi | mail/lojban-list/cur/821814481.5a7805969650d044.jbomohi:2,S
I remember a discussion this summer where lojbab wrote that lojban lacks a
third person imperative (such as in Russian). I was wondering how to make a
lojban sign "Do not Walk on the Grass"

<.i ehonai ko stapa levi sasfoi>

I thought about using ko with a relative clause specifying who is the <ko>
I am referring to (sort of like Thou shalt not of the King James Version of
the Christian Bible). Ko seems tied to do, so maybe that's not right.

More generally, how would one write legislation, translate the ten
commandments of <jegvo> tradition, or specify a design requirement of a new
engineering device?

coho mihe la stivn


Steven M. Belknap, M.D.
Assistant Professor of Clinical Pharmacology and Medicine
University of Illinois College of Medicine at Peoria

email: sbelknap@uic.edu
Voice: 309/671-3403
Fax:   309/671-8413



=== 2 | 1996-01-16T17:48:01Z | "Steven M. Belknap" <sbelknap@UIC.EDU> | 199601161815.naa06170@locke.ccil.org | mail/lojban-list/cur/821814481.30be7cf5d912a357.jbomohi:2,S
I remember a discussion this summer where lojbab wrote that lojban lacks a
third person imperative (such as in Russian). I was wondering how to make a
lojban sign "Do not Walk on the Grass"

<.i ehonai ko stapa levi sasfoi>

I thought about using ko with a relative clause specifying who is the <ko>
I am referring to (sort of like Thou shalt not of the King James Version of
the Christian Bible). Ko seems tied to do, so maybe that's not right.

More generally, how would one write legislation, translate the ten
commandments of <jegvo> tradition, or specify a design requirement of a new
engineering device?

coho mihe la stivn


Steven M. Belknap, M.D.
Assistant Professor of Clinical Pharmacology and Medicine
University of Illinois College of Medicine at Peoria

email: sbelknap@uic.edu
Voice: 309/671-3403
Fax:   309/671-8413


