# mail/lojban-list thread 634b09d739cb-laws,_commandments,_requirements | root 199601161747.maa21604@cs.columbia.edu | 2 messages | rendered by jbomohi mail-v1

=== 1 | 1996-01-16T19:02:41Z | "Mark E. Shoulson" <shoulson@CS.COLUMBIA.EDU> | 199601161904.vaa14604@xiron.pc.helsinki.fi | mail/lojban-list/cur/821818961.0fbcd46a526cf9b0.jbomohi:2,S
>Date:         Tue, 16 Jan 1996 11:48:01 -0600
>From: "Steven M. Belknap" <sbelknap%UIC.EDU@CUVMB.CC.COLUMBIA.EDU>

>I remember a discussion this summer where lojbab wrote that lojban lacks a
>third person imperative (such as in Russian). I was wondering how to make a
>lojban sign "Do not Walk on the Grass"

><.i ehonai ko stapa levi sasfoi>

>I thought about using ko with a relative clause specifying who is the <ko>
>I am referring to (sort of like Thou shalt not of the King James Version of
>the Christian Bible). Ko seems tied to do, so maybe that's not right.

>More generally, how would one write legislation, translate the ten
>commandments of <jegvo> tradition, or specify a design requirement of a new
>engineering device?

Well, in the Biblical sense, I don't think you really need to go outside a
simple negative second-person imperative.  That's how most of the Bible's
commands are worded anyway.  But you're right that that is needlessly
restrictive and unlojbanical.  What's probably simpler is just to use
observatives and appropriate UIs:

e'anai stapa lei sasfoi

note using e'anai for prohibition, and the x2 place of stapa, and a mass.

Work?  It would sound good in a Bible translation too, I bet.

~mark



=== 2 | 1996-01-16T19:02:41Z | "Mark E. Shoulson" <shoulson@CS.COLUMBIA.EDU> | 199601161938.oaa09049@locke.ccil.org | mail/lojban-list/cur/821818961.66615fc0db8b8c2a.jbomohi:2,S
>Date:         Tue, 16 Jan 1996 11:48:01 -0600
>From: "Steven M. Belknap" <sbelknap%UIC.EDU@CUVMB.CC.COLUMBIA.EDU>

>I remember a discussion this summer where lojbab wrote that lojban lacks a
>third person imperative (such as in Russian). I was wondering how to make a
>lojban sign "Do not Walk on the Grass"

><.i ehonai ko stapa levi sasfoi>

>I thought about using ko with a relative clause specifying who is the <ko>
>I am referring to (sort of like Thou shalt not of the King James Version of
>the Christian Bible). Ko seems tied to do, so maybe that's not right.

>More generally, how would one write legislation, translate the ten
>commandments of <jegvo> tradition, or specify a design requirement of a new
>engineering device?

Well, in the Biblical sense, I don't think you really need to go outside a
simple negative second-person imperative.  That's how most of the Bible's
commands are worded anyway.  But you're right that that is needlessly
restrictive and unlojbanical.  What's probably simpler is just to use
observatives and appropriate UIs:

e'anai stapa lei sasfoi

note using e'anai for prohibition, and the x2 place of stapa, and a mass.

Work?  It would sound good in a Bible translation too, I bet.

~mark


