# mail/lojban-list thread 892da4fceb9d-laws,_commandments,_requirements | root 199601170037.taa01113@locke.ccil.org | 1 messages | rendered by jbomohi mail-v1

=== 1 | 1996-01-16T22:36:40Z | "Steven M. Belknap" <sbelknap@UIC.EDU> | 199601162235.aaa15184@xiron.pc.helsinki.fi | mail/lojban-list/cur/821831800.32a4e4b3b1f70a63.jbomohi:2,S
I combined Scott's and Mark's suggestions (probably into a nongrammatic mess).
Here it is:

<ehanai doi remna ko lenu stapa levi sasfoi>

"Prohibited: To make it true that person(s) tread on this-here grassy field"

(presumably separate signs address the issues of dogs and tanks...)

la skot cusku dihe
>.i pe'i lu na curmi lenu stapa le sasfoi li'u

"I opine that quote someone/something unspecified is not granted permission
to perform the event treading on the grass field. unquote"

What about ants? Surely we don't intend to prohibit them?
>
>>I thought about using ko with a relative clause specifying who is the <ko>
>>I am referring to (sort of like Thou shalt not of the King James Version of
>>the Christian Bible). Ko seems tied to do, so maybe that's not right.
>
>But, does not {do} refer to the reader of the sign?
>

Not necessarily; for example, imagine two persons, one sighted and one
nonsighted who are approaching the grass. Both are expected to adhere to
the prohibition. Or imagine a fraternity upperclassman dumping some
innocent, blind-folded pledges from the back of a dumptruck onto the grass.
Clearly the upperclassman is at least partially at fault for violating the
prohibition.

>Generally, the referent of "do" is the intended recipient of the
>communication.  If the value of "do" is not obvious from context,
>one uses a vocative phrase to set its value.
>
>{ge'e doi xiskri ko na catra}

la mark cusku dihe
>Well, in the Biblical sense, I don't think you really need to go outside a
>simple negative second-person imperative.  That's how most of the Bible's
>commands are worded anyway.  But you're right that that is needlessly
>restrictive and unlojbanical.  What's probably simpler is just to use
>observatives and appropriate UIs:
>
>e'anai stapa lei sasfoi
>

"Prohibited: (Unspecified) stepping on meadow(s)
>note using e'anai for prohibition, and the x2 place of stapa, and a mass.

This is simple, and might be better than my version, but I wanted to limit
the command to persons and specify that the referent meadow is this here
particular meadow. Isn't mark's version a bit broad? Maybe the event
abstraction is not necessary in my version, though. Opinions?

cohomihe la stivn


Steven M. Belknap, M.D.
Assistant Professor of Clinical Pharmacology and Medicine
University of Illinois College of Medicine at Peoria

email: sbelknap@uic.edu
Voice: 309/671-3403
Fax:   309/671-8413


