# mail/lojban-list thread cdab96171117-laws,_commandments,_requirements | root v02110101ad2191ebd160@[128.248.251.248] | 2 messages | rendered by jbomohi mail-v1

=== 1 | 1996-01-16T18:44:03Z | Scott Brickner <sjb@UNIVERSE.DIGEX.NET> | 199601161845.uaa14511@xiron.pc.helsinki.fi | mail/lojban-list/cur/821817843.49235bb747407d02.jbomohi:2,S
Steven M. Belknap writes:
>I remember a discussion this summer where lojbab wrote that lojban lacks a
>third person imperative (such as in Russian). I was wondering how to make a
>lojban sign "Do not Walk on the Grass"
>
><.i ehonai ko stapa levi sasfoi>

.i pe'i lu na curmi lenu stapa le sasfoi li'u

>I thought about using ko with a relative clause specifying who is the <ko>
>I am referring to (sort of like Thou shalt not of the King James Version of
>the Christian Bible). Ko seems tied to do, so maybe that's not right.

But, does not {do} refer to the reader of the sign?

>More generally, how would one write legislation, translate the ten
>commandments of <jegvo> tradition, or specify a design requirement of a new
>engineering device?

Generally, the referent of "do" is the intended recipient of the
communication.  If the value of "do" is not obvious from context,
one uses a vocative phrase to set its value.

{ge'e doi xiskri ko na catra}



=== 2 | 1996-01-16T18:44:03Z | Scott Brickner <sjb@UNIVERSE.DIGEX.NET> | 199601161912.oaa08160@locke.ccil.org | mail/lojban-list/cur/821817843.f7135d8228fd76f5.jbomohi:2,S
Steven M. Belknap writes:
>I remember a discussion this summer where lojbab wrote that lojban lacks a
>third person imperative (such as in Russian). I was wondering how to make a
>lojban sign "Do not Walk on the Grass"
>
><.i ehonai ko stapa levi sasfoi>

.i pe'i lu na curmi lenu stapa le sasfoi li'u

>I thought about using ko with a relative clause specifying who is the <ko>
>I am referring to (sort of like Thou shalt not of the King James Version of
>the Christian Bible). Ko seems tied to do, so maybe that's not right.

But, does not {do} refer to the reader of the sign?

>More generally, how would one write legislation, translate the ten
>commandments of <jegvo> tradition, or specify a design requirement of a new
>engineering device?

Generally, the referent of "do" is the intended recipient of the
communication.  If the value of "do" is not obvious from context,
one uses a vocative phrase to set its value.

{ge'e doi xiskri ko na catra}


