# mail/lojban-list thread f5a32c1382cd-laws,_commandments,_requirements | root v02110100ad21d0d90afc@[128.248.251.248] | 1 messages | rendered by jbomohi mail-v1

=== 1 | 1996-01-19T23:47:38Z | Scott Brickner <sjb@UNIVERSE.DIGEX.NET> | 199601192348.baa31578@xiron.pc.helsinki.fi | mail/lojban-list/cur/822095258.20d79135ebbc189f.jbomohi:2,S
Steven M. Belknap writes:
>I combined Scott's and Mark's suggestions (probably into a nongrammatic mess).
>Here it is:
>
><ehanai doi remna ko lenu stapa levi sasfoi>
>
>"Prohibited: To make it true that person(s) tread on this-here grassy field"
>
>(presumably separate signs address the issues of dogs and tanks...)

An awful lot of signs...

>la skot cusku dihe
>>.i pe'i lu na curmi lenu stapa le sasfoi li'u
>
>"I opine that quote someone/something unspecified is not granted permission
>to perform the event treading on the grass field. unquote"

I intended the sign to read, {na curmi lenu stap le sasfoi}, the opinion
and quotes were merely to provide context.  Your translation sounds
stilted because you don't Anglicize the observative.  I'd have said
"Permission is not granted for the event treading on the lawn."

>What about ants? Surely we don't intend to prohibit them?

"Keep off the grass" doesn't exempt them.

>>>I thought about using ko with a relative clause specifying who is the <ko>
>>>I am referring to (sort of like Thou shalt not of the King James Version of
>>>the Christian Bible). Ko seems tied to do, so maybe that's not right.
>>
>>But, does not {do} refer to the reader of the sign?
>
>Not necessarily; for example, imagine two persons, one sighted and one
>nonsighted who are approaching the grass. Both are expected to adhere to
>the prohibition. Or imagine a fraternity upperclassman dumping some
>innocent, blind-folded pledges from the back of a dumptruck onto the grass.
>Clearly the upperclassman is at least partially at fault for violating the
>prohibition.

Sorry, I wansn't clear enough.  {do} (and respectively {ko}) refer to
the *intended* reader of the sign.  Whether any reads it or not is
irrelevant.  I opine the intended reader is anyone who considers
walking on the grass.

If I hang a sign out saying "trespassers will be shot", inability to
read and understand isn't going to exempt you from its provisions.

>>Generally, the referent of "do" is the intended recipient of the
>>communication.  If the value of "do" is not obvious from context,
>>one uses a vocative phrase to set its value.
>>
>>{ge'e doi xiskri ko na catra}

I reiterate this.  If you think there could be some confusion about who
do/ko is, stick "doi la tcidu /do'u/" (or something appropriate) on the
front.


