# mail/lojban-beginners thread de66cc82797b-what_are_the_requirements_for_basic_fluency_in_ | root a58be07d-a99d-4d08-9ab7-97eb3b6823d8@s2g2000vby.googlegroups.com | 4 messages | rendered by jbomohi mail-v1

=== 1 | 2011-09-05T20:54:31Z | "luk." <lukeseubert@gmail.com> | a58be07d-a99d-4d08-9ab7-97eb3b6823d8@s2g2000vby.googlegroups.com | mail/lojban-beginners/cur/1315256071.de66cc82797ba2ee.jbomohi:2,S
Good day all,

In my new GTD system, I have listed "Achieve Basic Fluency in Lojban"
as a Someday/Maybe item. In order to flesh out that basic goal, I need
a bit more information.

What knowledge do I need to master to achieve basic fluency? This
would include reading, writing, speaking and listening. I would define
"basic" as 2 on a scale of 1 to 5. 1 is novice, 3 is intermediate, 4
is advanced, and 5 is expert.

For example, would "memorizing all gismu" be a part of basic Lojban
fluency? If not, what lesser list of gismu would suffice? What other
recommendations do people have for achieving basic lojban fluency?

Thank you,
luk.

-- 
You received this message because you are subscribed to the Google Groups "Lojban Beginners" group.
To post to this group, send email to lojban-beginners@googlegroups.com.
To unsubscribe from this group, send email to lojban-beginners+unsubscribe@googlegroups.com.
For more options, visit this group at http://groups.google.com/group/lojban-beginners?hl=en.




=== 2 | 2011-09-18T03:25:53Z | Pierre Abbat <phma@phma.optus.nu> | 201109172325.57333.phma@phma.optus.nu | mail/lojban-beginners/cur/1316316353.65e86af92ef4ab50.jbomohi:2,S
On Monday 05 September 2011 16:54:31 luk. wrote:
> Good day all,
>
> In my new GTD system, I have listed "Achieve Basic Fluency in Lojban"
> as a Someday/Maybe item. In order to flesh out that basic goal, I need
> a bit more information.
>
> What knowledge do I need to master to achieve basic fluency? This
> would include reading, writing, speaking and listening. I would define
> "basic" as 2 on a scale of 1 to 5. 1 is novice, 3 is intermediate, 4
> is advanced, and 5 is expert.
>
> For example, would "memorizing all gismu" be a part of basic Lojban
> fluency? If not, what lesser list of gismu would suffice? What other
> recommendations do people have for achieving basic lojban fluency?

I would not require all gismu for being fluent. I still occasionally run into 
one I don't know. And not everybody's list of gismu for fluency is the same. 
For example, "jaspu" is unimportant to one who has never left his state, but 
critical to a korgretro.

There's a group, le lojbo bangu cipra kamni, which is tasked with composing a 
test of Lojban proficiency. But the last two messages (not counting one I 
accidentally sent to all Lojban lists) were by me and went unanswered. One 
was a proposal of rating scales; the other was a reading comprehension 
passage.

You may be thinking of the ILR scale, which has five levels, but the higher 
levels are described by comparison to educated native speakers, and there 
aren't enough native Lojban speakers to make valid comparisons.

Do you know any Lojbanists you can talk with? If not, would you like to?

Pierre
-- 
lo ponse be lo mruli po'o cu ga'ezga roda lo ka dinko

-- 
You received this message because you are subscribed to the Google Groups "Lojban Beginners" group.
To post to this group, send email to lojban-beginners@googlegroups.com.
To unsubscribe from this group, send email to lojban-beginners+unsubscribe@googlegroups.com.
For more options, visit this group at http://groups.google.com/group/lojban-beginners?hl=en.




=== 3 | 2011-09-18T10:09:48Z | ranoritc <ranorith@gmail.com> | c94b76a6-84a0-4fb6-814f-1dcd95fd7d2c@d14g2000yqb.googlegroups.com | mail/lojban-beginners/cur/1316340588.203d69fa510fea5d.jbomohi:2,S
I don't think learning all the of the gismu is suitable for level one.
I think it's far more important to know a few cmavo than the more
obscure gismu. Exactly which gismu is hard to say... I think there was
a list by frequency somewhere. If nothing else, the flash card system
on Anki has gismu in order of supposed usage (seems pretty good).
Unfortunately it's cmavo list is less sorted, so you get "x raised to
the power of y" alongside "however" :S.

ru'a lo nu facki lo smuni ro gismu kei drani lo ka vajni tu'a lo
pavlai
i pe'i lo nu djuno fi so'o cmavo kei zmadu fi lo ka vajni fe tu'a lo
o'enai tolmi'o gismu
iku'i mi na'e djuno u'u lo ckaji be lo vajni gismu
ipe'i lo rapli gimste pu selciska fi da
i la'oi .Anki.samci'ejudri fi lo nu tcidu lo mojkarda fi lo gismu
bepo'i tu'a lo rapli simlu
i.ku'i.ui'nai lo la'oi Anki ma'oste cu na'e porsi ja'e lo nu u'inai zo
te'a ionai vajni dunli zo ku'i i

On Sep 18, 1:25 pm, Pierre Abbat <p...@phma.optus.nu> wrote:
> On Monday 05 September 2011 16:54:31 luk. wrote:
>
> > Good day all,
>
> > In my new GTD system, I have listed "Achieve Basic Fluency in Lojban"
> > as a Someday/Maybe item. In order to flesh out that basic goal, I need
> > a bit more information.
>
> > What knowledge do I need to master to achieve basic fluency? This
> > would include reading, writing, speaking and listening. I would define
> > "basic" as 2 on a scale of 1 to 5. 1 is novice, 3 is intermediate, 4
> > is advanced, and 5 is expert.
>
> > For example, would "memorizing all gismu" be a part of basic Lojban
> > fluency? If not, what lesser list of gismu would suffice? What other
> > recommendations do people have for achieving basic lojban fluency?
>
> I would not require all gismu for being fluent. I still occasionally run into
> one I don't know. And not everybody's list of gismu for fluency is the same.
> For example, "jaspu" is unimportant to one who has never left his state, but
> critical to a korgretro.
>
> There's a group, le lojbo bangu cipra kamni, which is tasked with composing a
> test of Lojban proficiency. But the last two messages (not counting one I
> accidentally sent to all Lojban lists) were by me and went unanswered. One
> was a proposal of rating scales; the other was a reading comprehension
> passage.
>
> You may be thinking of the ILR scale, which has five levels, but the higher
> levels are described by comparison to educated native speakers, and there
> aren't enough native Lojban speakers to make valid comparisons.
>
> Do you know any Lojbanists you can talk with? If not, would you like to?
>
> Pierre
> --
> lo ponse be lo mruli po'o cu ga'ezga roda lo ka dinko

-- 
You received this message because you are subscribed to the Google Groups "Lojban Beginners" group.
To post to this group, send email to lojban-beginners@googlegroups.com.
To unsubscribe from this group, send email to lojban-beginners+unsubscribe@googlegroups.com.
For more options, visit this group at http://groups.google.com/group/lojban-beginners?hl=en.




=== 4 | 2011-09-18T14:46:32Z | Jed <three65daysaweek@yahoo.com> | 77d59da2-336e-4ae6-8e2b-8b34639e601b@s16g2000yqc.googlegroups.com | mail/lojban-beginners/cur/1316357192.15adfa8aa58f953c.jbomohi:2,S
I don't think there are any native Lojban speakers, and there won't be
for awhile.

Anyway, I would definitely agree that learning the cmavo, as well as
how to use them contextually, is more important than learning all the
gismu. I think an unspoken necessity that really is important is
learning all the terminators. Before I started getting into those, I
had to restructure my sentences to contain "cu", which acts as a
universal terminator.

I think if you basically know and can recognize about half of the
gismu, and most of their rafsi, you are good.

On Sep 17, 10:25 pm, Pierre Abbat <p...@phma.optus.nu> wrote:
> On Monday 05 September 2011 16:54:31 luk. wrote:
>
> > Good day all,
>
> > In my new GTD system, I have listed "Achieve Basic Fluency in Lojban"
> > as a Someday/Maybe item. In order to flesh out that basic goal, I need
> > a bit more information.
>
> > What knowledge do I need to master to achieve basic fluency? This
> > would include reading, writing, speaking and listening. I would define
> > "basic" as 2 on a scale of 1 to 5. 1 is novice, 3 is intermediate, 4
> > is advanced, and 5 is expert.
>
> > For example, would "memorizing all gismu" be a part of basic Lojban
> > fluency? If not, what lesser list of gismu would suffice? What other
> > recommendations do people have for achieving basic lojban fluency?
>
> I would not require all gismu for being fluent. I still occasionally run into
> one I don't know. And not everybody's list of gismu for fluency is the same.
> For example, "jaspu" is unimportant to one who has never left his state, but
> critical to a korgretro.
>
> There's a group, le lojbo bangu cipra kamni, which is tasked with composing a
> test of Lojban proficiency. But the last two messages (not counting one I
> accidentally sent to all Lojban lists) were by me and went unanswered. One
> was a proposal of rating scales; the other was a reading comprehension
> passage.
>
> You may be thinking of the ILR scale, which has five levels, but the higher
> levels are described by comparison to educated native speakers, and there
> aren't enough native Lojban speakers to make valid comparisons.
>
> Do you know any Lojbanists you can talk with? If not, would you like to?
>
> Pierre
> --
> lo ponse be lo mruli po'o cu ga'ezga roda lo ka dinko

-- 
You received this message because you are subscribed to the Google Groups "Lojban Beginners" group.
To post to this group, send email to lojban-beginners@googlegroups.com.
To unsubscribe from this group, send email to lojban-beginners+unsubscribe@googlegroups.com.
For more options, visit this group at http://groups.google.com/group/lojban-beginners?hl=en.



